body {
  background: #000;
  color: #fff;
  font-family: "Prompt", sans-serif;
  text-align: center;
  
}

.container {
  margin-top: 40px;
}

.logo {
   position: fixed; /* fica sempre visível */
    bottom: 50px; /* distância da borda inferior */ 
    right: 70px; /* distância da borda direita */ 
    width: 170px; /* tamanho da logo */ 
    height: auto; /* mantém proporção */  
    opacity: 0.9;
}

h1 {
  color: #fff;
  font-size: 50px;
  margin: 5px;
  line-height: 1.1;
}

.buttons {
  margin: 10px 0;
  justify-items: center;
  margin: 10px auto;
  
  
}

.buttons button.active {
   background: #111; 
   color: yellow;
   border: 3px solid red;
   font-weight: bold;
   box-shadow: 0 0 15px re
}

.buttons button {
  font-size: 20px;
  margin: 2px;
  padding: 15px 25px;
  cursor: pointer;
  color: #111;
  border: 2px solid; 
  border-radius: 8px;
}

.custom button, .controls button, #custom {
  font-size: 20px;
  margin: 2px;
  padding: 15px 25px;
  cursor: pointer;
}

#display {
  font-size: 150px;
  margin: 40px 0;
  color: red;
  border: 2px solid white;
  border-radius: 12px; 
  padding: 20px 40px; 
  display: inline-block; 
  width: 560px; 
  text-align: center; 
  box-sizing: border-box;
}

.custom {
  margin: 10px 0;
}

