body {
  background: #000;
  color: #fff;
  font-family: "Prompt", sans-serif;
  text-align: center;
  
}
.container {
  margin-top: 20px;
}

h1 {
  color: #fff;
  font-size: 50px;
  margin: 5px;
  line-height: 1.1;
}

.timer-box {
  position: relative;
  display: inline-block;
}

.buttons {
  position: absolute;
  top: 60px;                
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
}


.buttons button.active {
   background: #111; 
   color: yellow;
   border: 3px solid red;
   font-weight: bold;
   box-shadow: 0 0 15px re
}

.buttons button {
  font-size: 20px;
  padding: 14px 15px;
  cursor: pointer;
  color: #111;
  border: 2px solid; 
  border-radius: 8px;
}

.custom button, .controls button, #custom {
  font-size: 20px;
  margin: 2px;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 8px;
}

#display {
  font-size: 365px;
  margin: 20px 0;
  color: #fff;
  border: 4px solid white;
  border-radius: 12px; 
  padding: 20px 40px; 
  display: inline-block; 
  width: 1200px; 
  text-align: center; 
  box-sizing: border-box;
}

.custom {
  margin: 10px 0;
}

